body {
    margin: 0px;
    display: flex;
    flex-direction: column;
}

/* Header and Hero */

.header {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

ul {
    list-style: none;
    display: flex;
}

a {
    padding: 0px 10px;
    text-decoration: none;
}

a:visited {
    color: #e5e7eb;
}

.header-logo {
    font-size: 24px;
    font-weight: 700;
}

.hero {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-container {
    display: flex;
    margin: 64px 128px;
    align-items: center;
    gap: 32px;
}

.hero-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
}

.hero-main {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.hero-secondary {
    font-size: 18px;
    color: #e5e7eb;
}

.img-box {
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    background: gray;
    width: 100%;
    color: #f9faf8;
}

button {
    background: #3882f6;
    color: #e5e7eb;
    border: none;
    border-radius: 10px;
    padding: 8px 32px;
}


/* Information */

.title {
    font-size: 36px;
    font-weight: 900;
    margin: 16px;
    text-align: center;
}

.box {
    width: 100px;
    height: 100px;
    border: 5px solid #3882f6;
    border-radius: 25px;
}

.information-container {
    display: flex;
    text-align: center;
    margin: 32px;
}

.info {
    display: flex;
    flex: auto;
    flex-direction: column;
    align-items: center;
}


/* Blockquote */

.blockquote {
    background: #e5e7eb;
    margin: 0px;
    padding: 64px 256px;      
}

.blockquote-text {
    font-style: italic;
    font-size: 36px;
    color: #1f2937;
}

.blockquote-text-credit {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    text-align: right;
}

/* Call to action */

.call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3882f6;
    padding: 16px 32px;
    margin: 32px 64px;
    gap: 32px;
} 

.call-to-action-header {
    font-size: 24px;
    font-weight: 700;
    color: #f9faf8;
}

.call-to-action-subtext {
    color: #e5e7eb;
}

/* Footer */

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 72px;
    background: #1f2937;
    color: #f9faf8;
  }