/* Header and Hero */

.header,
.hero {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
}

.hero-main {
    font-size: 48px;
    font-weight: 900;
}

.hero-secondary {
    font-size: 18px;
    color: #e5e7eb;
}

ul {
    list-style: none;
    display: flex;
}

a {
    text-decoration: none;
}



/* Information */

.title {
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 32px;
    text-align: center;
}

.box {
    width: 200px;
    height: 200px;
    border: 10px solid #3882f6;
    border-radius: 25px;
}

.information-container {
    display: flex;
    justify-content: center;
    gap: 52px;
    
}